.read-container {
  width: 100%;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  width: 600px;
  margin: 50px;
  margin-left: 7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.read-continaer-author {
  display: flex;
}

.read-continaer-author > p {
  display: block;
  margin-right: 0.5rem;
}

.read-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.read-container button {
  padding: 5px 15px;
  margin-top: 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.read-container button:hover {
  background-color: darkred;
}

.read-button-container {
  display: flex;
  justify-content: space-between;
}
