.findIdBody {
  width: 544px;
  background-color: #f8f8f8;
  color: #202020;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}

.findAccountForm {
  width: 100%;
}

.searchWrap {
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.popHeaderWrap {
  width: 100%;
  height: 50px;
  background-color: #aaa;
  text-align: center;
  color: #fff;
}

.contentsWrap {
  width: 504px;
  background-color: #fff;
  padding: 30px 20px;
  display: inline-block;
}

/* ***********************************  */
.contentsWrap .searchTab ul {
  background-color: #dcdcdc;
  color: rgb(232, 234, 237);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  text-align: center;
}

.contentsWrap .searchTab li {
  display: flex;
  width: calc(100% /2);
  padding: 10px;
  font-size: 15px;
  border-bottom: 1px solid #ef3e42;
  justify-content: center;
  cursor: pointer;
}

.contentsWrap .searchTab .current {
  background-color: rgb(255, 255, 255);
  color: rgb(21, 20, 20);
  border: 1px solid #ef3e42;
  border-bottom: none;
}

/* ************************************* */

.contentsWrap ul {
  list-style: none;
  padding: 0;
}

.idSearchWrap .notiArea {
  padding: 15px 0;
  border-bottom: 6px solid #f4f4f4;
  font-size: 13px;
  color: #aaa;
}

.idSearchWrap .searchType li {
  border-bottom: 1px solid #ddd;
}

.idSearchWrap .searchType .title button {
  width: 100%;
  padding: 15px 0;
  text-align: left;
  font-size: 15px;
  color: #202020;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
}

.contentsWrap .inputBox .iInput {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  border: 1p solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 15px;
  color: #202020;
}

.inputBox>div {
  margin-bottom: 10px;
}

.contentsWrap .btnRed {
  background-color: #ef3e42;
  width: 100%;
  height: 45px;
  line-height: 42px;
  border-radius: 2px;
  border: 1px solid #ef3e42;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.emailContainer {
  display: grid;
  grid-template-columns: 1fr auto;
}

.emailContainer .emailSelect select {
  height: 40px;
  border: 1p solid #ddd;
  font-size: 15px;
  color: #202020;
}

/* ***************************************** */
.error {
  display: none;
}

.emailSelect .options {
  display: none;
}