.StyledLoginWrap {
    width: 460px;
    height: 673px;
    padding: 30px 20px 30px 20px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fff;
    text-align: left;
}

.StyledBody {
    width: 460px;
    height: 673px;
    color: #333;
    background-color: #f4f4f4;
}

.StyledLoginBox {
    width: 430px;
    margin: 0 auto;
}

.StyledLogo {
    padding-top: 45px;
    padding-bottom: 11px;
    text-align: center;
}

.StyledUl {
    width: 100%;
    height: 100px;
    list-style: none;
    padding: 0;
    padding-top: 3px;
    margin: 0;
}

.StyledLi {
    width: 418px;
    height: 39px;
    margin-bottom: 10px;
}

.StyledInput {
    width: 418px;
    height: 39px;
    border: none;

    padding-left: 10px;
}



.StyledInputButton {
    width: 430px;
    height: 39px;
    padding: 3px 6px 1px;
    border: none;
    color: white;
    background-color: #ef3e42;
    line-height: 33px;
}

.StyledP {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*  */

.SnsLoginWrap {
    width: 430px;
    margin: 0 15px;
    display: grid;
    grid-template-columns: 215px 215px;
    grid-template-rows: 50px 50px;
}

.SnsLoginWrap button {
    cursor: pointer;
}

.SnsLoginNaver {
    width: 208px;
    height: 40px;
    background-color: #279c00;
    color: white;
    text-decoration: none;
    font-size: 15px;
    border: none;
    border-radius: 4px;
}

.SnsLoginKakao {
    width: 208px;
    height: 40px;
    background-color: #ffde00;
    color: #3b1e1e;
    text-decoration: none;
    font-size: 15px;
    border: none;
    border-radius: 4px;
}

.SnsLoginGoogle {
    width: 208px;
    height: 40px;
    border: none;
    background-color: #fff;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

/*  */

.StyledHelp {
    text-align: center;
}

.StyledHelpMenu {
    text-decoration: none;
    color: #707070;
}