/* TicketingdetailPage.css */

.ticketing-table {
    width: 100%; /* 테이블의 너비를 전체로 설정 */
    border-collapse: collapse; /* 테두리 겹침을 방지 */
    /* 상하 여백 추가 */
    margin: 20px 20px 20px 2rem;
    font-size: 16px; /* 글꼴 크기 설정 */
    min-width: 400px; /* 최소 너비 설정 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* 그림자 효과 추가 */
}

.ticketing-table thead tr {
    background-color: #009879; /* 테이블 헤더 배경색 */
    color: #ffffff; /* 테이블 헤더 글꼴 색상 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.ticketing-table th,
.ticketing-table td {
    padding: 12px 15px; /* 셀 내부 여백 */
}

.ticketing-table tbody tr {
    border-bottom: 1px solid #dddddd; /* 행 아래쪽 테두리 */
}

.ticketing-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; /* 짝수 번째 행 배경색 */
}

.ticketing-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879; /* 마지막 행 테두리 강조 */
}

.ticketing-table tbody tr.active-row {
    font-weight: bold; /* 활성 행 글꼴 굵게 */
    color: #009879; /* 활성 행 글꼴 색상 */
}
