/* Styles for the container */
.loginlog-container {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  /* white background for the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* subtle shadow for a bit of depth */
}

.loginlog-details {
  padding-left: 30px;
}

.loginlog-details p {
  display: flex;
}


/* Button specific styling */
button {

  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
}


/* Align the '보기' button next to the password input */
.inputArea_password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputArea_password button {
  margin-left: 10px;
}

/* Error message styling */
.errorText {
  color: #ff0000;
  font-size: 0.8rem;
}

/* Utility classes for layout */
.uBlock {
  margin-bottom: 20px;
}

.uBlock_checkBlock,
.uBlock_validation {
  margin-top: 10px;
}

/* Styling for labels and inputs for readability */
.label,
.inputArea_password label,
.inputArea_id label,
.inputArea_name label,
.inputArea_phone label,
.inputArea_email label {
  display: block;
  margin-bottom: .5rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
}