.serviceCenterButton {
  margin: 0 auto;
}
.help_cont ul {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}
.help_cont ul:first-child {
  border-bottom: none;
}
.myPageIconsContainer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 10px;
}
.myPageIconsContainer ul a {
  width: 180px;
  border-left: 2px dotted gray;
  padding: 0 18px;
}
.myPageIconsContainer ul a:first-child {
  border: none;
}

.myPageIconsContainer ul a li div h5 {
  margin: 0;
}
.myPageIconsContainer ul a li div h5:nth-child(2) {
  color: red;
  font-size: 15px;
}
.myPageIconsContainer ul a li div h5:nth-child(2):hover {
  text-decoration: underline;
}
.myPageIconsContainer ul a li {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icon {
  font-size: 40px;
}
.help_cont {
  margin: 20px;
}
.help_cont ul li {
  margin: 20px auto;
}
.help_cont ul li span {
  font-size: 1.2rem;
  font-weight: bold;
}
.help_cont ul li ul li a {
  font-size: 1rem;
}
.help_cont ul li ul li a:hover {
  color: red;
}

.myPageCheckContainer {
  margin: 30px;
}
.myPageCheckContainer p {
  font-size: 0.8rem;
  margin: 25px auto;
}

.myPageCheckTitle {
  border-bottom: 2px solid lightgray;
}

.textRedColor {
  color: red;
}
.sortbx {
  margin-top: 50px;
  margin-bottom: 5px;
}
.sortbx dl {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
.sortbx dl div {
  display: flex;
}
.sortbx dt {
  font-weight: bold;
}

.sortbx p {
  margin: 0 0 5px 0;
}
.sortbx p {
  text-align: end;
}
.sortbx table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid rgb(156, 156, 156);
  border-bottom: 1px solid rgb(235, 235, 235);
}
.sortbx thead {
  background-color: rgb(235, 235, 235);
}
.sortbx th,
.sortbx td {
  text-align: center;
  padding: 10px 15px;
  border: none;
}

.ticketGuideTableBody {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 10px 30px;
  margin: 50px 0;
}
.ticketGuideTableBody h5 {
  color: rgb(70, 70, 70);
  margin-bottom: 0;
}

.ticketGuideTableBody ol {
  padding: 0;
}
.ticketGuideTableBody li {
  color: gray;
  font-size: 13px;
  margin: 8px;
}
