

.helpContIconContainer {
  margin: 20px;
}
.helpContIconContainer div {
  margin: 30px auto;
}

.helpmain_list ul {
  margin: 50px 20px;
  padding: 0;
}
.helpmain_list li {
  padding: 18px 0;
  border-bottom: 1px solid lightgray;
}
.smallIcon {
  font-size: 40px;
}

.service_cont ul a:hover {
  color: purple;
}

.serviceCenterContainer ul a:hover,
.serviceCenterContainer ul div:hover {
  font-weight: bold;
}
