.bookInfoViewWrapper {
  width: 30%;
  height: 100%;
  margin-top: 30px;
  float: right;
  box-sizing: border-box;
  padding: 20px 30px 20px 20px;
  text-align: center;
}

.titleContainer .tableContainer {
    justify-content: center; /* 요소들을 수평으로 가운데 정렬합니다. */
    //align-items: center; /* 요소들을 수직으로 가운데 정렬합니다. */
    /*background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210115/pngtree-retro-ticket-green-background-image_521704.jpg');*/
}

.titleContainer {
    display: flex;
    flex-direction: row;
}

.titleLeft {
    width: 30%;
    margin-right: 10px; /* 이미지와 다른 <div> 사이의 간격을 조절합니다. */

}

.reserveSeatInfo {
    padding: 0 20px;
}

/* .titleRight {
  float: right; 
  box-sizing: border-box;
} */

.bookResultTh,
.bookResultTd,
.bookResultThLast,
.bookResultTdLast {
  border-bottom: 1px solid #ECEDFC;
  padding: 5px;
}

.bookResultTh,
.bookResultThLast {
  width: 40%;
  text-align: left;
}

.bookResultTd,
.bookResultTdLast {
  width: 60%;
  text-align: right;
}

.bookResultThLast,
.bookResultTdLast {
  font-weight: bold;

}

.bookResultTdLast {
  font-size: 1.5rem;
  color: #C82020;
}

.bookResultTable {
  width: 100%;
  margin-top: 20px;
    font-size: small;

}

.bookButtonContainer {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
}